body{
    background-color: rgb(119, 19, 19) ;
}

.all{
    display: block ;
    margin-top :200px;
}

#time{
    size :150px;
}

#score{
    size :100px;
}

.save{
    height :50px;
    width :320px;
    background-color: rgb(150, 7, 7);
    box-shadow: 2px 2px 2px black ;
}

.save:hover{
    background-color: rgb(139, 15, 15);
}

h1{
    text-shadow: 2px 4px 4px rgb(37, 25, 25) ;
}
